/* DESKTOP VIEW */

body {
  background-image: url(imgs/news.jpeg);
  background-size: cover;
  /* position: fixed; */
  /* max-height: 100%;
  max-width: 100%; */
}

#headline-modal {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .close-btn {
    align-self: flex-start;
    padding: 5px;
    /* background-color: blue;
    text-decoration: underline;
    border-radius: 5px; */
  }

  .headline-container {
    border: 1px solid black;
    display: block;
    background: white;
    width: 800px;
    max-width: 800px;
    margin: auto;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headline-imgs {
    border: 1px solid yellow;
    width: 85%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
  }

  .headline-description {
    border: 1px solid yellow;
    width: 85%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
  }

  .headline {
    border: 1px solid blue;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
  }

  .headline-text {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 0 5px;
  }





















/* MOBILE VIEW */
/* @media (max-width: 800px) {
  body {
    background-image: url(imgs/news.jpeg);
    background-size: cover;
  }
  .headline-container {
    border: 1px solid white;
    display: block;
    background: black;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    margin-top: auto;
    height: 200px;
  }
} */
