/* DESKTOP VIEW */
/* Main Site */
body {
  background-image: url(imgs/news.jpeg);
  background-size: cover;
  text-align: center;
  /* display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  margin: auto; */
  /* position: fixed; */
  /* max-height: 100%;
  max-width: 100%; */
}

h1 {
  color: #0747b0;
}

.main-site {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: row; */
  align-items: center;
  align-content: space-between;
  margin: auto;
}

.home-buttons {
  border: 1px solid gold;
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

button[name="home-button"] {
  /* background-color: blue; */
  border: 1px solid blue;
  border-radius: 3px;
  padding: 10px 16px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  z-index: 1;
}

/* Modal */
#headline-modal {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .close-btn {
    border: 1px solid red;
    align-self: baseline;
    /* position: absolute;
    right: 170px;
    top: 185px; */
    display: flex;
    align-items: flex-start;
    /* justify-content:flex-end; */
    padding: 5px;
    /* background-color: blue;
    text-decoration: underline;
    border-radius: 5px; */
  }

  .headline-container {
    border: 1px solid black;
    display: block;
    background: white;
    width: 800px;
    max-width: 800px;
    margin: auto;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headline-imgs {
    border: 1px solid yellow;
    width: 85%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }

  .headline {
    border: 1px solid blue;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
  }

  .headline-description {
    border: 1px solid yellow;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* display: none; */
  }

  .headline-text {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 0 5px;
  }

  button[name="modal-button"] {
    background: yellow;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
  }

  .modal-button {
    border: 1px solid blue;
    padding: 8px;

  }




















/* MOBILE VIEW */
/* @media (max-width: 800px) {
  body {
    background-image: url(imgs/news.jpeg);
    background-size: cover;
  }
  .headline-container {
    border: 1px solid white;
    display: block;
    background: black;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    margin-top: auto;
    height: 200px;
  }
} */
