body {
  background-image: url(imgs/background.jpeg);
  background-size: cover;
  /* make background: stationary */
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  /* display: block; */
  display: none;
}

.are-you-21-modal {
  display: block;
  background-color: white;
  width: 500px;
}

.are-you-21-modal > h2 {
  /* color: white; */
}
